cat <<!EOF
#
#	Configuration parameters fixed at startup for the DataRouter node
#
#	URL to retrieve dynamic configuration
#
ProvisioningURL:	${DRTR_PROV_INTURL:-https://feeds-drtr.web.att.com/internal/prov}
#
#	URL to upload PUB/DEL/EXP logs
#
LogUploadURL:	${DRTR_LOG_URL:-https://feeds-drtr.web.att.com/internal/logs}
#
#	The port number for http as seen within the server
#
IntHttpPort:	${DRTR_NODE_INTHTTPPORT:-8080}
#
#	The port number for https as seen within the server
#
IntHttpsPort:	${DRTR_NODE_INTHTTPSPORT:-8443}
#
#	The external port number for https taking port mapping into account
#
ExtHttpsPort:	${DRTR_NODE_EXTHTTPSPORT:-443}
#
#	The minimum interval between fetches of the dynamic configuration
#	from the provisioning server
#
MinProvFetchInterval:	10000
#
#	The minimum interval between saves of the redirection data file
#
MinRedirSaveInterval:	10000
#
#	The path to the directory where log files are stored
#
LogDir:	${DRTR_NODE_LOGS:-logs}
#
#	The retention interval (in days) for log files
#
LogRetention: ${DRTR_NODE_LOG_RETENTION:-30}
#
#	The path to the directories where data and meta data files are stored
#
SpoolDir:	${DRTR_NODE_SPOOL:-spool}
#
#	The path to the redirection data file
#
RedirectionFile:	etc/redirections.dat
#
#	The type of keystore for https
#
KeyStoreType:	jks
#
#	The path to the keystore for https
#
KeyStoreFile:	${DRTR_NODE_KSTOREFILE:-etc/keystore}
#
#	The password for the https keystore
#
KeyStorePassword:	${DRTR_NODE_KSTOREPASS:-changeit}
#
#	The password for the private key in the https keystore
#
KeyPassword:	${DRTR_NODE_PVTKEYPASS:-changeit}
#
#	The type of truststore for https
#
TrustStoreType:	jks
#
#	The path to the truststore for https
#
TrustStoreFile:	${DRTR_NODE_TSTOREFILE}
#
#	The password for the https truststore
#
TrustStorePassword:	${DRTR_NODE_TSTOREPASS:-changeit}
#
#	The path to the file used to trigger an orderly shutdown
#
QuiesceFile:	etc/SHUTDOWN
#
#	The key used to generate passwords for node to node transfers
#
NodeAuthKey:	${DRTR_NODE_AUTHKEY:-Node123!}
!EOF
