cat <<!EOF
#
#                        AT&T - PROPRIETARY
#          THIS FILE CONTAINS PROPRIETARY INFORMATION OF
#        AT&T AND IS NOT TO BE DISCLOSED OR USED EXCEPT IN
#             ACCORDANCE WITH APPLICABLE AGREEMENTS.
#
#          Copyright (c) 2013 AT&T Knowledge Ventures
#              Unpublished and Not for Publication
#                     All Rights Reserved
#
# CVS: $Id: mail.properties.tmpl,v 1.2 2016/09/29 Vikram Exp $
#

# Mail properties
com.att.dmaap.datarouter.mail.protocol       =  smtp
com.att.dmaap.datarouter.mail.server         =  attrh.att.com
com.att.dmaap.datarouter.mail.subject        = HTTPS relaxation enabled
com.att.dmaap.datarouter.mail.from	     = DL-DATA-ROUTER-DEV@att.com
com.att.dmaap.datarouter.mail.body           =  PS Team,<br /><br />HTTPS relaxation is enabled on [SERVER] PROV Host. Please ensure this was intentional and this was pre-approved, if not, please take remedial action to revert back to HTTPS relaxation Turned off.<br /><br />AT&T DMaaP Data Router
!EOF