#!/bin/bash
cat <<!EOF
--
--  This SQL script populates the PARAMETERS table.
--  It is run automatically by the Prov Server when the tables are created.
--
-- $Id: mysql_init_0001.tmpl,v 1.1 2013/05/03 19:31:01 eby Exp $
--

INSERT INTO PARAMETERS VALUES
	('ACTIVE_POD',  '${DRTR_PROV_ACTIVEPOD}'),
	('PROV_ACTIVE_NAME',  '${PROV_ACTIVE_NAME}'),
	('STANDBY_POD', '${DRTR_PROV_STANDBYPOD}'),
	('PROV_NAME',   '${DRTR_PROV_CNAME:-feeds-drtr.web.att.com}'),
	('NODES',       '${DRTR_PROV_NODES}'),
	('PROV_DOMAIN', '${DRTR_PROV_DOMAIN:-web.att.com}'),
	('DELIVERY_INIT_RETRY_INTERVAL', '10'),
	('DELIVERY_MAX_AGE', '86400'),
	('DELIVERY_MAX_RETRY_INTERVAL', '3600'),
	('DELIVERY_RETRY_RATIO', '2'),
	('LOGROLL_INTERVAL', '300'),
	('PROV_AUTH_ADDRESSES', '135.207.136.128/25'),
	('PROV_AUTH_SUBJECTS', ''),
	('PROV_MAXFEED_COUNT',	'10000'),
	('PROV_MAXSUB_COUNT',	'100000'),
	('PROV_REQUIRE_CERT', 'true'),
	('PROV_REQUIRE_SECURE', 'true'),
	('_INT_VALUES', 'LOGROLL_INTERVAL|PROV_MAXFEED_COUNT|PROV_MAXSUB_COUNT|DELIVERY_INIT_RETRY_INTERVAL|DELIVERY_MAX_RETRY_INTERVAL|DELIVERY_RETRY_RATIO|DELIVERY_MAX_AGE')
	;
!EOF
